  <form class="row g-3">
    <div class="col-sm-12">
      <label for=""> address</label>
    </div>
    <ng-container
      *ngFor="let selectorDescription of selectorsDescription; let i = index"
    >
      <div class="col-sm-4">
        <select
          class="form-select mb-2"
          (change)="propagateSelection(i, $any($event.target)?.value)"
        >
          <option
            *ngFor="let opt of selectorDescription.data"
            [value]="opt[selectorDescription.valueField]"
          >
            {{ opt[selectorDescription.labelField] }}
          </option>
        </select>
      </div>
    </ng-container>
  </form>


<div class="m-5"></div>

  <form class="row g-3">
    <div class="col-sm-2">
      <label for=""> address</label>
    </div>
    <ng-container
      *ngFor="let selectorDescription of selectorsDescription; let i = index"
    >
      <div class="col-sm">
        <select
          class="form-select mb-2"
          (change)="propagateSelection(i, $any($event.target)?.value)"
        >
          <option
            *ngFor="let opt of selectorDescription.data"
            [value]="opt[selectorDescription.valueField]"
          >
            {{ opt[selectorDescription.labelField] }}
          </option>
        </select>
      </div>
    </ng-container>
  </form>

<div>
  {{ value | json }}
</div>
