<div class="mt-3 mb-3" *ngIf="formDescriptor">
  <form [formGroup]="formDescriptor.formGroup" (ngSubmit)="onSubmit($event)">
    <dd-dynamic-from-control
      [formDescriptor]="formDescriptor"
    ></dd-dynamic-from-control>

    <div class="col-12 mb-3">
      <div class="gap-10 d-flex flex-row">
        <div>
          <button class="btn btn-primary" type="submit">
            {{ formDescriptor?.submitBtnLabel || "submit" }}
          </button>
        </div>
        <div>
          <button
            class="btn btn-warning"
            *ngIf="formDescriptor.showReset"
            type="reset"
          >
            {{ formDescriptor?.resetBtnLabel || "reset" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
