
.date-picker-container{
    border: 1px solid black;
    width: fit-content;
    position: relative;
}

.date-picker-input{
    border: none;
}

.date-picker-input:focus {
    outline: none !important;
}

.date-picker-icon{
    padding: 5px;
}

.date-picker-calender{
    font-size: 1rem;
    padding: 5px;
    z-index: 200;
    position: absolute;
    width: 100%;
}
.calender-navigator-body{
    font-size: .8rem;
}
.calender-day-header{
    text-align: center;
}
.calender-day{
    text-align: center;
    border: 1px solid transparent;
    /* min-width: 25px; */
}
.calender-day:hover{
    color: white;
    background-color: wheat;
    /* border-radius:50% ;     */
}

.navigator-btn{
    background-color: white;
    border: none;
}

.navigator-btn:hover{
    color: gray;
    border: none;
}

.calender-btn{
    background-color: white;
    border: lightgray solid 1px;
    padding: 5px;
}

.calender-btn:hover{
    background-color: white;
    /* border: gray solid 1px; */
    color: gray;
}

.year-view-toggler{
    cursor: pointer;
}

.year-view-toggler:hover{
    color: black;
}

.active{
    color: black;
    font-weight: bold;
}

.not-active{
    color: gray;
}

.empty-row{
    color: white;
}
.empty-row:hover{
    color: white;
}