<div class="container">
  <ddd-form
    [formEntity]="bookEntity"
    (changeEvent)="onChange($event)"
    (submitEvent)="onSubmit($event)"
    (buttonClickEvent)="onClick($event)"
  >
    <!-- <ng-template dfInputTemplate [inputType]="'TEXT'">
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
    </ng-template> -->

    <!-- <ng-template dfInputTemplate [inputType]="'NUMBER'">
      <label>hello custom text input </label>
    </ng-template> -->
  </ddd-form>
</div>

<input
  type="number"
  placeholder="inter rate for the book"
  (change)="setRate($any($event.target).value)"
/>
